@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url("https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap");

$green: #86bb71;
$blue: #94c2ed;
$orange: #e38968;
$gray: #92959e;

.navbar {
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  height: 80px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  display: block;
}

.navbarContents {
  box-sizing: border-box;
  background-color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 150px;
  display: flex;
  align-items: center;
  height: inherit;
}

/* Logo-4 */
.logo-4 h3 {
  color: #88c5f9;
  font-weight: 300;
  font-size: 50px;
  line-height: 0.65;
  font-family: "Lobster", cursive;
  height: fit-content;
  margin-left: 10px;
}

.homeButton {
  width: fit-content;
  height: 80px;
  margin-left: 230px;
  padding-top: 10px;
  color: #434651;
  border: none;
  background-color: white;

  &:hover {
    color: #39648d;
    border-bottom: 3px solid #39648d;
  }
}

.optionsButton {
  width: fit-content;
  height: 80px;
  margin-left: 70px;
  padding-top: 10px;
  color: #434651;
  border: none;
  background-color: white;

  &:hover {
    color: #39648d;
    border-bottom: 3px solid #39648d;
  }
}

.searchButton {
  width: fit-content;
  height: 80px;
  margin-left: 70px;
  padding-top: 10px;
  color: #434651;
  border: none;
  background-color: white;

  &:hover {
    color: #39648d;
    border-bottom: 3px solid #39648d;
  }
}

.notificationButton {
  width: fit-content;
  height: 80px;
  margin-left: 70px;
  padding-top: 10px;
  color: #434651;
  border: none;
  background-color: white;

  &:hover {
    color: #39648d;
    border-bottom: 3px solid #39648d;
  }
}

.noAccountIcon{
  width: fit-content;
  height: 50px;
  margin-left: 270px;
  padding-top: 20px;
  color: #434651;
  border: none;
  background-color: white;
}

.inAccountAvatar{
  width: fit-content;
  height: 60px;
  margin-left: 270px;
  padding-top: 10px;
  color: #434651;
  border: none;
  background-color: white;
}

#logInButton {
  width: fit-content;
  height: 80px;
  margin-left: 70px;
  padding-top: 10px;
  color: #434651;
  border: none;
  background-color: white;

  &:hover {
    color: #39648d;
    border-bottom: 3px solid #39648d;
  }
}

#logOutButton {
  width: fit-content;
  height: 80px;
  margin-left: 70px;
  padding-top: 10px;
  color: #434651;
  border: none;
  background-color: white;

  &:hover {
    color: #39648d;
    border-bottom: 3px solid #39648d;
  }


}
