@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url("https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap");

$green: #86bb71;
$blue: #94c2ed;
$orange: #e38968;
$gray: #92959e;

*,
*:before,
*:after {
  box-sizing: border-box;
}

.navbar {
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  height: 80px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  display: block;
}

.navbarContents {
  box-sizing: border-box;
  background-color: white;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  height: inherit;
}

/* Logo-4 */
.logo-4 h3 {
  color: #88c5f9;
  font-weight: 300;
  font-size: 50px;
  line-height: 0.65;
  font-family: "Lobster", cursive;
  height: fit-content;
}

.homeButton {
  width: fit-content;
  height: 55px;
  margin-left: 50px;
  color: #434651;
}

.optionsButton {
  width: fit-content;
  height: 55px;
  margin-left: 10px;
  color: #434651;
}

mat-icon {
  font-size: 35px;
  height: fit-content;
  width: fit-content;
}

#logInButton {
  float: right;
  width: fit-content;
  height: 55px;
}

#logOutButton {
  float: right;
  margin: 10px;
  width: fit-content;
  height: 55px;
}

body {
  background: #c5ddeb;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.container {
  margin: 0 auto;
  width: 1000px;
  background: white;
  border-radius: 10px;
  margin-top: 30px;
  height: 840px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.content {
  font-size: 25px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 20px;
  display: block;
}

.helpButton {
  float: right;
  margin-right: 30px;
}

.people-list {
  width: 350px;
  float: left;

  .search {
    padding-top: 10px;
    padding-left: 20px;
  }

  input {
    border-radius: 20px;
    border: none;
    padding: 14px;
    color: black;
    background: #d7dbdd;
    width: 90%;
    font-size: 14px;
  }

  .fa-search {
    position: relative;
    left: -25px;
  }

  ul {
    padding: 20px;
    height: 770px;

    li {
      padding-bottom: 20px;
    }
  }

  img {
    float: left;
  }

  .about {
    float: left;
    margin-top: 8px;
  }

  .about {
    padding-left: 8px;
  }

  .status {
    color: $gray;
  }
}

.chat {
  width: 650px;
  float: left;
  background: #f2f5f8;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 840px;

  color: #434651;

  .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;

    img {
      float: left;
    }

    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }

    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }

    .info {
      float: right;
    }

    .phone {
      float: right;
      margin-right: 5px;
    }
  }

  .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;

    .message-data {
      margin-bottom: 15px;
    }

    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
    }

    .message {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;

      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $green;
        border-width: 10px;
        margin-left: -10px;
      }
    }

    .my-message {
      background: $green;
    }

    .other-message {
      background: $blue;

      &:after {
        border-bottom-color: $blue;
        left: 93%;
      }
    }
  }

  .chat-message {
    padding: 30px;

    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 20px;
      resize: none;
      background-color: #e5e7e9;
    }

    // .fa-file-o, .fa-file-image-o {
    //   font-size: 16px;
    //   color: gray;
    //   cursor: pointer;

    // }

    .lowerActions {
      display: block;
      width: inherit;
      height: fit-content;

      button {
        float: right;
        color: #88c5f9;
        font-size: 22px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        font-weight: bold;
        background: #f2f5f8;

        &:hover {
          color: darken($blue, 30%);
        }
      }

      .mic {
        float: right;
        margin-right: 5px;
      }

      .emotions{
        float: right;
        margin-right: 5px;
      }

      .insertLink{
        float: right;
        margin-right: 10px;
      }

      mat-icon{
        font-size: 27px;
        color: #434651  ;
      }
    }
  }
}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: $green;
}

.offline {
  color: $orange;
}

.me {
  color: $blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
